body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #132233;
}

.button-box{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-box button{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 20px;
    background: transparent;
    color: #f4c803;
    border-radius: 25px;
    border: 2px solid #f4c803;
    height: 40px;
    margin-left:60px;
 }

.vertical{
    background: linear-gradient( #132233 0%, #f4c803 35%, #132233 100%);
    width: 2px;
    height: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-box button:hover{
    animation: pulse 1.5s infinite;
    cursor: pointer;
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #f4c803;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
    }
  }

.form-box {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #091119;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}


.login-box{
    width: 50%;
    display: none;
}

.btn{
    background: transparent;
    border: none;
    color: #f4c803;
    float: left;
    cursor: pointer;
}

h2{
    margin: 0 0 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    clear: both;
}


.user-box {
    position: relative;
}
  
.user-box input {
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.user-box {
    position: relative;
}
  
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f4c803;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    color: #f4c803;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 25px;
    border: 2px solid #f4c803;
}
  
.login-box a:hover {
    background: #f4c803;
    color: #091119;
    border-radius:25px;
}
  
.login-box a span {
    position: absolute;
    display: block;
}

.loan-box{
    top: 80%;
    margin-bottom: 10px;
    width: 70%;
    display: none;
}
.date-box{
    display: inline;
    justify-content: space-evenly;
    padding-top: 0.6px;
    color:#fff;
    font-size: 16px;
}
.date-box input{
    width: 30%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.select-box{
    position: relative;
    width: 100%;
    align-content: center;
}
.select-box select{
    width:40%;
    margin-right: 10px;
    border-radius: 25px;
    padding:10px;
    background:transparent;
    outline: none;
    color: #fff;
}
.select-box option{
    color: black;
}
.select-box input{
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.select-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.select-box button{
    background: transparent;
    color: #fff;
    border: none;
    margin-left: 20px;
}

.select-box button:hover{
    cursor: pointer;
}
h3, p{
    color: #fff;
    font-size: 15px;
}

.loan-box .submit-btn{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    color: #f4c803;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 25px;
    border: 2px solid #f4c803;
    background: transparent;
}

.loan-box .submit-btn:hover {
    background: #f4c803;
    color: #091119;
    border-radius:25px;
    cursor: pointer;
}