$color_blue-dark: #091119;
$color_yellow: #ffcb00;

#App {
    #AppMainContainer {
        #AppPageContent {
            div {
                ul {
                    li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}