$color_navbar-bg: #132233;

#App {
  #AppDropnav {
    z-index: 1;
    position: fixed; 
    left:0; top:0;
    width: 100%; height: 55px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);

    background-color: $color_navbar-bg;
    
    transition-property: background-color, height;
    transition-duration: 0.3s;

    &.dropnav-active {
      background: $color_navbar-bg;
      height: 100%;
    }
  }
}