$color_yellow: #ffcb00;
#App {
  #AppMainContainer {
    color: white;
    transition: margin-left 0.2s ease-out;
    margin-left: calc(20px + 22px);
    margin-top: 20px;
    margin-right: 20px;
    a {
      color: $color_yellow;
    }
    #AppPageTitle {
      margin: 0 0 0 0;
    }
    #AppPageRemarks {
      margin: 5px 0 0 0;
    }
    #AppPageContent {
      margin: 0 0 0 0;
      button {
        margin: 0 ;
      }
      h3 {
        margin: 20px 0 10px;
      }
      h4 {
        margin: 20px 0 10px;
      }
      ul {
        margin-top: 0px;
      }
    }
  }
}
