$color_yellow-light: #ffdd88cc;
$color_yellow: #ffcb00;
$color_blue-dark: #091119;

#App {
	#AppMessageBox {
		z-index: 2;
		display: block;
		position:fixed;
		bottom: 0;

		//sidenav inactive
			width:calc(100% - 22px);
			left: 22px;
		&.sidenav-toggle-partial {
			width:calc(100% - 262px);
			left: 262px;
		}
		&.sidenav-toggle-total {
			width:100%;
			left: 0px;
		}
		&.sidenav-toggle-disabled {
			width:calc(100%);
			left: 0px;
		}
		&.dropnav-active {
			width:100%;
			left: 0px;
		}

    
		transition-property: left width;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
		
		text-align: center;

		p,h3 {
			color:white;
			display:block;
			font-weight: bold;

			margin: 0;
			padding: 7px 0;

			background-color: $color_blue-dark;
			.link {
				font-size: small;
				font-style: italic;
				color: $color_yellow;
				text-decoration: underline 1px;
				&:hover {
					font-style: normal;
				}
			}
		}
	}
}