$color_yellow-light: #ffdd88cc;

#App {
	#AppMessageBox {
		z-index: 1;
		display: block;
		position:fixed;
		bottom: 0;
		width:100%;

		text-align: center;

		p,h3 {
			display:block;
			font-weight: bold;

			margin: 0;
			padding: 7px 0;

			background-color: $color_yellow-light;
			.link {
				font-size: small;
				font-style: italic;
				color: blue;
				text-decoration: underline 1px;
				&:hover {
					font-style: normal;
				}
			}
		}
	}
}