#App #AppDropnav {
  z-index: 1;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  
  background-color:  #132233;
}

#App #AppDropnav #LoaderContainer {
  display: flex;
  width: 100%; height: 100%;
  
  flex-direction: column;
  justify-content: center; align-items: center;
  
  background-color: #132233;

  transition-property: scale;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

#App #AppDropnav #LoaderContainer span {
  color: #f4c803;
  text-align: center;
  width: 100%;
}
#App #AppDropnav #LoaderContainer #Loader {
  font-size: xx-large;
}
#App #AppDropnav #LoaderContainer #Loader {
  font-size: xx-large;
}

#App #AppDropnav #LoaderContainer.page-inactive {
  scale: 0;
  opacity: 0;
}