$color_navbar-bg: #132233;
$color_navbar-bg_light: rgb(14,60,110);
$color_yellow: #ffcb00;
$px_small: 3.5px;

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#App {
  #AppSidenav {
    z-index: 1;
    position: fixed;
    top: 55px; left: -240px;
    width: 240px; height: calc(100% - 55px);

    //sidenav inactive
    left: -240px;
    width: 240px;
		&.sidenav-toggle-active {
			width: 240px;
			left: 0px;
		}
		&.sidenav-toggle-disabled,
    &.dropnav-active {
      left: -262px;
      width: 240px;
		}
    @media only screen and (max-width: 675px) {
      left: calc(-100% + 22px);
      width: calc(100% - 22px);
      &.sidenav-toggle-active {
        left: 0px;
        width: calc(100% - 22px);
      }
      &.sidenav-toggle-disabled,
      &.dropnav-active {
        left: -100%;
        width: calc(100% - 22px);
      }
    }
    

    color:white;
    background-color: $color_navbar-bg_light;
    
    transition-property: left width;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    .sidenav-search-input {
      height: 19.5px;
      margin-left: $px_small;
      width: calc(240px - $px_small - 5px - 5px);
    
      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: ease;

      @media only screen and (max-width: 675px) {
        width: calc(100% - $px_small - 5px - 5px);
      }

      border: none;
      padding: 5px;
      
      background-color: white;
      
      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: white;
      }
    }
    .sidenav-search-remarks {
      @include noselect();

      height:30px;
      margin: 0px 0px 0px $px_small;
      padding: 5px;

      background-color: white;
      color: black;

      text-align: center;
      font-size:12px;
      font-weight: bold;
      
    }
    .sidenav-search-list-div {
      @include noselect();

      margin: 0 0 0 0;
      height: 100%;

      .sidenav-search-list-ul { margin-left: $px_small; };
    }

    ul {
      margin: 0;
      padding-left: 0;

      li {
        margin-top: $px_small;
        padding: $px_small;

        border: $px_small solid white;

        list-style: none;

        font-weight: normal;
        font-style: normal;
        color:white;

        background-color:$color_navbar-bg;

        .search-li-label:hover, .search-li-button:hover {
          font-weight: bold;
          font-style: italic;
          cursor: pointer;
        }
        &:hover, &.searchResult {
          &.draggable { cursor: grab; }

          color:$color_yellow;

          border-color: $color_yellow;

          background-color: rgb(13,45,90);
        }
        &.dragOver {
          color: #00ff00;
          border-color: #00ff00;
        }
        &.dragged {
          font-style: normal;
          background-color: rgba(10,40,80,1);
        }
      }
    }
  }
  #AppSidenavToggle {
    z-index: 1;
    align-items: center;
    
    position: fixed; display: flex;
    top:55px; height: calc(100% - 55px);

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;

    background-color: $color_navbar-bg_light;

    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2),10px 10px 10px 0 rgba(0,0,0,0.19);
    
    flex-direction: row;
    justify-content: center;
    @include noselect();
    
    transition-property: left, box-shadow, background-color;
    transition-timing-function: ease;
    transition-duration: 0.2s;

    //sidenav inactive
    &:after { content: ">"; }
    left: 0px;
    width: 22px;
		&.sidenav-toggle-active {
      &:after { content: "<"; }
			left: 240px;
		}
		&.sidenav-toggle-disabled {
      &:after { content: none; }
			left: -22px;
		}
    &.dropnav-active {
      background-color: $color_navbar-bg;
      left: -22px;
      box-shadow: 8px 8px 8px 0 rgba(0,0,0,0),10px 10px 10px 0 rgba(0,0,0,0);
    }
    @media only screen and (max-width: 675px) {
      &:after { content: ">"; }
      left: 0px;
      &.sidenav-toggle-active {
        &:after { content: "<"; }
        left: calc(100% - 22px);
      }
      &.sidenav-toggle-disabled,
      &.dropnav-active {
        left: -22px;
      }
    }
    
    &:hover {
      font-style: bold;
      color:$color_yellow;

      background-color: rgb(13,45,90);
    }
  }
}